<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" required maxlength="50" [(ngModel)]="model.userName" name="name"
            #name="ngModel" style='max-width: 200px;'>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Username is required
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required email [(ngModel)]="model.email" name="email"
            style='max-width: 200px;'>

    </div>


    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>