<div class="container">
    <h1>Registration form</h1>

    <form [formGroup]="profileForm" (ngSubmit)="submit()" style='max-width: 200px;'>
        <div class="mb-3">
            <label for="userNameControl" class="form-label">User name: </label>
            <input id="userNameControl" class="form-control" [class.is-invalid]="userNameError$ | async" type="text"
                formControlName="userNameControl" autocomplete="off" aria-describedby="userNameError">
            <span id="userNameError" aria-live="assertive" class="invalid-feedback position-absolute" [textContent]="userNameError$ | async"></span>
        </div>

        <div class="mb-3">
            <label for="firstNameControl" class="form-label">First name: </label>
            <input id="firstNameControl" class="form-control" [class.is-invalid]="firstNameError$ | async" type="text"
                formControlName="firstNameControl" autocomplete="off">
            <div class="invalid-feedback position-absolute">
                <span [textContent]="firstNameError$ | async"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="lastNameControl" class="form-label">Last name: </label>
            <input id="lastNameControl" class="form-control" [class.is-invalid]="lastNameError$ | async" type="text"
                formControlName="lastNameControl" autocomplete="off">
            <div class="invalid-feedback position-absolute">
                <span [textContent]="lastNameError$ | async"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="genderControl" class="form-label">Gender: </label>
            <select class="form-control" formControlName="genderControl" [class.is-invalid]="genderError$ | async">
                <option value="null" disabled>Choose your gender</option>
                <option *ngFor="let gender of eGender | keyvalue" [value]="gender.value">{{gender.value}}</option>
            </select>
            <div class="invalid-feedback position-absolute">
                <span [textContent]="genderError$ | async"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="emailControl" class="form-label">Email: </label>
            <input id="emailControl" class="form-control" [class.is-invalid]="emailError$ | async" type="email"
                formControlName="emailControl" autocomplete="off">
            <div class="invalid-feedback position-absolute">
                <span [textContent]="emailError$ | async"></span>
            </div>
        </div>

        <div class="mb-3">
            <ng-container formArrayName="addressControl">
                <div *ngFor="let addressItem of addressControl.controls; let i = index">
                    <div [formGroupName]="i">
                        <label for="lineOneControl" class="form-label">First address line: </label>
                        <input id="lineOneControl" class="form-control" type="text" formControlName="lineOneControl"
                            autocomplete="off">

                        <label for="lineTwoControl" class="form-label">Second address line: </label>
                        <input id="lineTwoControl" class="form-control" type="text" formControlName="lineTwoControl"
                            autocomplete="off">
                    </div>
                </div>
            </ng-container>
        </div>

        <button class="btn btn-primary" (click)="addAddress()">Add address line
        </button>

        <div formGroupName="passwordGroup">
            <div class="mb-3">
                <label for="passwordControl" class="form-label">Password: </label>
                <input id="passwordControl" class="form-control" class="form-control"
                    [class.is-invalid]="passwordError$ | async" type="password" formControlName="passwordControl"
                    autocomplete="off">
                <div class="invalid-feedback position-absolute">
                    <span [textContent]="passwordError$ | async"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPasswordControl" class="form-label">Confirm password: </label>
                <input id="confirmPasswordControl" class="form-control"
                    [class.is-invalid]="confirmPasswordError$ | async" type="password"
                    formControlName="confirmPasswordControl">
                <div class="invalid-feedback">
                    <span [textContent]="confirmPasswordError$ | async"></span>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" >Submit</button>
            <!-- [disabled]="!profileForm.valid" -->
        </div>
    </form>
</div>